// https://qiita.com/karayok/items/0996c8f0ea219c284dbd#%E3%82%BB%E3%82%AD%E3%83%A5%E3%83%AA%E3%83%86%E3%82%A3%E3%83%AB%E3%83%BC%E3%83%AB
rules_version = "2";

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }
    function isUserAuthenticated(userId) {
      return request.auth.uid == userId;
    }
		match /app_settings/{postID} {
			allow read
		}
    match /users/{userId} {
      allow create: if isAuthenticated();
      allow update, read: if isUserAuthenticated(userId);
       match /subscribes/{postId} {
        allow read, update, delete: if isUserAuthenticated(userId);
        allow create: if isAuthenticated();
      }
    }
  }
}